@page "/MyConverter"

<h3>Temperature Converter</h3>

<div>
    <input type="number" @bind="_inputValue" placeholder="Enter value"/>
    <select @bind="_conversionType">
        <option value="FtoC">Fahrenheit to Celsius</option>
        <option value="CtoF">Celsius to Fahrenheit</option>
    </select>
    <button @onclick="ConvertTemperature">Convert</button>
</div>


<p>Result: @_result</p>

@code {
    private decimal _inputValue;
    private string _conversionType = "FtoC";
    private string _result = null!;

    private void ConvertTemperature()
    {
        _result = _conversionType switch
        {
            "FtoC" => TemperatureConversionService.FahrenheitToCelsius(_inputValue),
            "CtoF" => TemperatureConversionService.CelsiusToFahrenheit(_inputValue),
            _ => "Invalid conversion type"
        };
    }

}